<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Notepad</title>
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/notepad.css">
</head>
<body>
  <header>
    <div class="toolbar" id="toolbar">
      <a class="toolbar-item" href="#notes">
        <i class="fa fa-list"></i>
      </a>
      <a class="toolbar-item" href="#" id="toolbar-item-new-note">
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </header>

  <div id="container">
    <div id="scene"></div>
  </div>
  
  <script type="text/template" id="notes-template">
    <div id="sidebar"></div>
    <div id="note">Main content</div>
  </script>

  <script type="text/template" id="note-template">
    <article>
      <h1><%= title %></h1>
      <div><%= html %></div>
    </article>
  </script>

  <script type="text/template" id="note-empty-template">
    <article>
      hello!
    </article>
  </script>

  <script type="text/template" id="note-list-item-template">
    <div class="title"><%= title %></div>
    <div class="created_at">
      <span><%= updated_at %></span>
      <ul class="note-index-actions">
        <li class="edit">
          <a href="#notes/<%= id %>/edit"><i class="fa fa-edit"></i></a>
        </li>
        <li class="delete">
          <i class="icon-trash">D</i>
        </li>
      </ul>
    </div>
  </script>

  <script type="text/template" id="note-edit-template">
    <div id="sidebar" class="region"></div><div id="main" class="region"></div>
  </script>

  <script type="text/template" id="note-index-template">
    <ul></ul>
  </script>

  <script type="text/template" id="note-index-item-template">
    <i class="fa fa-caret-right"></i><span class="title"><%= title || '?' %></span>
  </script>

  <script type="text/template" id="note-main-views-template">
    <div id="editor"></div><div id="preview"></div>
  </script>

  <script type="text/template" id="note-editor-template">
    <textarea></textarea>
  </script>

  <script type="text/template" id="note-preview-template">
  	<article class="note"><%= html %></article>
  </script>

  <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="js/underscore.js"></script>
  <script type="text/javascript" src="js/backbone.js"></script>
  <script type="text/javascript" src="js/backbone.marionette.js"></script>
  <script type="text/javascript" src="js/marked.js"></script>
  <script type="text/javascript" src="js/moment-with-langs.js"></script>
  <script type="text/javascript" src="js/q.js"></script>
  <script type="text/javascript" src="js/textarea-helper.js"></script>
  <script type="text/javascript" src="js/notepad.js"></script>
</body>
</html>