@mixin note-base {
  font-size: 12px;

  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
  }

  h1 {
    font-size: 190%;
    margin-top: 40px;
    margin-bottom: 10px;

    &:first-child {
      margin-top: 10px;
    }
  }

  h2 {
    font-size: 140%;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 115%;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 100%;
    margin-bottom: 5px;
  }

  h5 {
    font-size: 100%;
    margin-bottom: 5px;
  }

  h6 {
    font-size: 100%;
    margin-bottom: 5px;
  }

  pre > code {
    background: whitesmoke;
  }

  p {
    margin: 0 0 10px;
  }

  ul {
    list-style: disc;
    margin: 0 1.7em;

    li {

    }
  }
}
