$border-color1: #ddd;
$border-color2: #ebe8d5;
$border-color3: #ccc;
$text-color1: #333;
$text-color2: #666600;
$index-mark-color: #484;

@import "compass/css3";

html {

}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #eeeeee;
}

* {
	box-sizing: border-box;
}

button {
	padding: 10px 14px;
	border: 1px solid #aaa;
	@include border-radius(6px);
	background-color: #fff;
	outline-width: 0;

	&:hover {
		border-color: #00f;
		color: #00f;
		cursor: pointer;
	}
}
