#history {
  white-space: nowrap;
  
  >* {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    white-space: normal;
  }

  #main {
    width: 50%;
  }

  #sub {
    width: 50%;
    background-color: #eee;
  }

  .timeline-item {
    padding: 5px;

    .datetime {
      padding-right: 5px;
    }

    &:nth-child(even) {
      background-color: #eee;
    }
  }
}
