#notes {
  >* {
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }
}

#note-edit {
  height: 100%;
  
  >* {
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }
}

#scene {
  border-top: 1px solid #ddd;
}