@import "compass/css3";
@import "compass/css3/user-interface";
@import "note";

#notes {
  white-space: nowrap;
  
  >* {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    white-space: normal;
  }

  #sidebar {
    width: 30%;
    min-width: 200px;
    max-width: 300px;
    border-right: 1px solid #ddd;
    overflow-y: scroll;
  }

  #main {
    // width: 70%;
    overflow-y: scroll;
  }

  .note {
    @include note-base;
    padding: 10px;
  }

  .note-empty {
    background-color: #f8f8f8;
    height: 100%;
  }
}

.notes {

}

.note-list {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  min-width: 200px;
  // background-color: #ddd;
  @include user-select(none);

  .more {
    padding-left: 10px;
  }
}

.note-list-item {
  position: relative;
  padding: 6px;
  border-bottom: 1px dotted #ddd;
  cursor: pointer;

  &:last-child {
    //border-bottom: 1px dotted #888;
  }

  &:hover {
    background-color: #fafafa;

    .note-index-actions {
      display: block;
    }
  }
  
  &.selected {
    background-color: #f0f0f0;
  }

  .title {
    font-size: 13px;
    color: #000;
    margin-bottom: 4px;
  }

  .created_at {
    font-size: 70%;
    color: #aaa;
  }
}

.note-index-actions {
  display: none;
  float: right;
  padding: 0 4px;
  margin: 0;
  list-style: none;
  @include border-radius(4px);
  cursor: pointer;

  li {
    float: left;

    .button {
      display: inline-block;
      width: 30px;
      padding: 0px 4px;
      margin-left: 4px;
      border: 1px solid #aaa;
      @include border-radius(4px);
      text-align: center;
      font-size: 120%;
      color: #666;
      &:hover {
        background-color: #ddd;
      }
    }
  }
}
