#settings {
  height: 100%;

  >* {
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }

	#sidebar {
		width: 200px;
		background-color: #eee;
		border-right: #ddd;
	}

	.settings-section {
		height: 100%;
		padding: 20px;
		background-color: #efe;

		input[type="text"] {
			width: 400px;
			max-width: 100%;
		}
	}
}
