@import "compass/css3/user-interface";

.toolbar {
	font-size: 16px;
  @include user-select(none);

	.toolbar-item {
		display: inline-block;
		width: 50px;
		padding: 10px;
		text-align: center;
		color: #444;

		&:hover {
			background-color: #fafafa;
		}
	}

	.toolbar-item-group {
		display: inline-block;
		float: right;
	}
}