@import "compass/css3/user-interface";

.toolbar {
  position: relative;
  font-size: 16px;
  @include user-select(none);
  white-space: nowrap;
  overflow: hidden;

  .toolbar-item {
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: #444;

    &:hover {
      background-color: #fafafa;
    }
  }

  .toolbar-item-btn {
    width: 50px;
  }

  .toolbar-item-group {
    display: inline-block;
    float: right;
  }

  #dev-tools {
    display: none;
  }

  .current-note {
    cursor: pointer;
  }
}